.team-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 10px;
}



.doctor-detils{
    
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 5px;
}

.cart-style{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin: 5px;
    
}